@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-image: url(/public/fundo.svg);
}

.titleL{
    color: black;
    /* position: absolute;
    margin-left: 330px; */
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    /* margin: 30px 100px 40px -190px;
    box-sizing: border-box; */
}

.buttonL{
    cursor: pointer;
    font-size: 23px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 8px;
    color: #FFF;
    background-color: #7800F4;
    width: 500px;
    height: 70px;
    transition: background-color 0.5s, border-color 0.5s;
}

.BoxLogin img{
    width: 80px;
    height: auto;
    display: flex;
    margin-bottom: 10px;
}

.buttonL:hover{
    border: 2px solid #7800F4;
    border-color: solid 2px #7800F4;
    color: #7800F4;
    background-color: white;
}

.buttonL:focus{
    outline: none;
}

.pageFormLogin{
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    border: solid #5E00C2;
    border-radius: 15px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BoxLogin p{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #5E00C2;
    font-size: 25px;
}

.BoxEmail{
    width: 500px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.BoxPassword{
    width: 500px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
