@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    background-color: #FFF;
    justify-content: center;

}

.pageFormLogin{
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    border: solid #5E00C2;
    border-radius: 15px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BoxLogin img{
    position: relative;
    width: 300px;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

.BoxLogin p{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #5E00C2;
    font-size: 25px;
}

.BoxEmail{
    width: 500px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.BoxPassword{
    width: 500px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
